<!-- third party scripts -->
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>
<script src="https://unpkg.com/mark.js@8" defer></script>

<!-- particles.js for animated header background -->
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" defer></script>

<!-- Twitter widgets.js for embedded timelines -->
<script src="https://platform.twitter.com/widgets.js" charset="utf-8" async></script>

<!-- include all js in scripts folder -->
{% assign scripts = site.static_files | where_exp: "file", "file.path contains '/_scripts'" %}
{% for script in scripts %}
  <script src="{{ script.path | relative_url }}"></script>
{% endfor %}
